@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');



*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    background:black url(imagens/plantio-batata.jpg) top center no-repeat fixed;
    background-size: cover;
}
header{
    background-color: rgb(175, 22, 22);
}
#logo img{
    height: 25vh;
    padding: 0px 100px 0px 20px;
}
nav{
    max-width: 950px;
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

nav ul{
    align-items: center;
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 32px;
}

nav a{
    text-decoration: none;
    font: normal 1.2em Lilita One;
    color: white;
    line-height: 10px;
}

nav a:hover{
    color: rgb(255, 230, 0);
}

#menu_mobile{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#menu_mobile div{
    background-color: white;
    width: 30px;
    height: 5px;
    margin-top: 5px;
}

@media (max-width:1000px){
    nav ul{
        display: none;
        transform: translate(100%);
    }
    #menu_mobile{
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}